.volleyMapLayer {
    position: absolute;
    z-index: 1;
    width:100VW;
    height:100%;
}

.uiLayer {
    position:absolute;
    z-index:2;
    width:100%; /*used to locate children*/
    height:0;   /* height should be zero, otherwise will block the map */
}
