
.bodyLayout{
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
    overflow-x: hidden;
  }